html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Высота вьюпорта */
}

#content {
  flex: 1 0 auto; /* Растягивается */
}

footer {
  flex-shrink: 0; /* Не сжимается */
  background: #f8f9fa;
  padding: 15px 0;
  text-align: center;
  border-top: 1px solid #ddd;
}